@model SmartFinanceManagement.Models.User

@{
    ViewData["Title"] = "Create User";
}

<h2>Create User</h2>

<form asp-action="User" method="post">
    <div class="form-horizontal">
        <hr />

        @* Contact Number *@
        <div class="form-group">
            <label asp-for="ContactNumber" class="control-label"></label>
            <input asp-for="ContactNumber" class="form-control" />
            <span asp-validation-for="ContactNumber" class="text-danger"></span>
        </div>

        @* Created By *@
        <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>

        @* Created On *@
        <div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <input asp-for="CreatedOn" class="form-control" type="date" />
            <span asp-validation-for="CreatedOn" class="text-danger"></span>
        </div>

        @* Email ID *@
        <div class="form-group">
            <label asp-for="EmailId" class="control-label"></label>
            <input asp-for="EmailId" class="form-control" />
            <span asp-validation-for="EmailId" class="text-danger"></span>
        </div>

        @* First Name *@
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        @* Last Name *@
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        @* User Name *@
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        @* Password *@
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        @* User Type *@
        <div class="form-group">
            <label asp-for="UserType" class="control-label"></label>
            <input asp-for="UserType" class="form-control" />
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>

        @* Is Active *@
        <div class="form-group">
            <label asp-for="IsActive" class="control-label"></label>
            <input asp-for="IsActive" class="form-control" />
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>

        @* Is Delete *@
        <div class="form-group">
            <label asp-for="IsDelete" class="control-label"></label>
            <input asp-for="IsDelete" class="form-control" />
            <span asp-validation-for="IsDelete" class="text-danger"></span>
        </div>

        @* Updated By *@
        <div class="form-group">
            <label asp-for="UpdatedBy" class="control-label"></label>
            <input asp-for="UpdatedBy" class="form-control" />
            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>

        @* Updated On *@
        <div class="form-group">
            <label asp-for="UpdatedOn" class="control-label"></label>
            <input asp-for="UpdatedOn" class="form-control" type="date" />
            <span asp-validation-for="UpdatedOn" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
